<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>536615146134-lhfrq7odqj1k006ao7hoiq7r2oo6su26.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.536615146134-lhfrq7odqj1k006ao7hoiq7r2oo6su26</string>
	<key>API_KEY</key>
	<string>AIzaSyDsNLUL7FoHYh67IXZNlbo72kiFC5v62Go</string>
	<key>GCM_SENDER_ID</key>
	<string>536615146134</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.adam.ondemandfitness</string>
	<key>PROJECT_ID</key>
	<string>ondemandfitness</string>
	<key>STORAGE_BUCKET</key>
	<string>ondemandfitness.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:536615146134:ios:bceabba18a6ecab74ee8b7</string>
</dict>
</plist>